body{
    background-color: burlywood;
}

@media only screen and (min-width:600px){
    body{
        background-color: #ff00ff;
    }
}

@media only screen and (min-width:920px){
    body{
        background-color: #ff0000;
    }
}